{% extends 'base.html' %}
{% block content %}
    <!-- CONTENT -->
    <main class="content">

    <h1>Dashboard</h1>

    <!-- DASHBOARD CARDS -->
    <div class="cards">

        <div class="card">
            <div class="card-icon">
                <i class='bx bx-briefcase'></i>
            </div>
            <div class="card-info">
                <h3>Jobs</h3>
                <p>Active job cards</p>
            </div>
            <div class="card-value">12</div>
        </div>

        <div class="card">
            <div class="card-icon">
                <i class='bx bx-user'></i>
            </div>
            <div class="card-info">
                <h3>Accounts</h3>
                <p>Active</p>
            </div>
            <div class="card-value">17</div>
        </div>

        <div class="card">
            <div class="card-icon">
                <i class='bx bx-car'></i>
            </div>
            <div class="card-info">
                <h3>Invoice</h3>
                <p>Pending Processing</p>
            </div>
            <div class="card-value">12</div>
        </div>

        <div class="card">
            <div class="card-icon">
                <i class='bx bx-money'></i>
            </div>
            <div class="card-info">
                <h3>Revenue</h3>
                <p>Ksh.400,250</p>
            </div>
            <div class="card-value"></div>
        </div>

        <div class="card">
            <div class="card-icon">
                <i class='bx bx-box'></i>
            </div>
            <div class="card-info">
                <h3>Expenses</h3>
                <p>Ksh. 55.4K</p>
            </div>
            <div class="card-value"></div>
        </div>
        <div class="card">
            <div class="card-icon">
                <i class='bx  bx-receipt'></i> 
            </div>
            <div class="card-info">
                <h3>Debt</h3>
                <p>Ksh. 336,800</p>
            </div>
            <div class="card-value"></div>
        </div>

    </div>

</main>


</div>
{% endblock %}

