{% extends "base.html" %}

{% block content %}
<div class="login-container">
    <h3 class="mb-4">Change Password</h3>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST">
        <div class="form-group">
            <label for="username">Current Password</label>
            <input type="password" name="current_password" id="current_password" class="form-control" required>
            <span class="input-group-text" onclick="togglePassword('current_password')" style="cursor:pointer;">
                <i class="fa-regular fa-eye"></i>
            </span>
            </div>
        <div class="form-group">
            <label>New Password</label>
            <div class="input-group">
                <input type="password" name="new_password" id="new_password" class="form-control" required>
                <span class="input-group-text" onclick="togglePassword('new_password')" style="cursor:pointer;">
                    <i class="fa-regular fa-eye"></i>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label>Confirm New Password</label>
            <div class="input-group">
                <input type="password" name="confirm_password" id="confirm_password" class="form-control" required>
                <span class="input-group-text" onclick="togglePassword('confirm_password')" style="cursor:pointer;">
                    <i class="fa-regular fa-eye"></i>
                </span>
            </div>
        </div>
        <button type="submit" class="login-btn">Change Password</button>
    </form>
</div>

<script>
function togglePassword(fieldId) {
    const field = document.getElementById(fieldId);
    field.type = field.type === "password" ? "text" : "password";
}
</script>
{% endblock %}